# Audience Quantitative Analysis

## Import packages

In [1]:
import seaborn as sns
import pandas as pd
from IPython.display import display, HTML

import numpy as np
import math
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter

# for plotting purposes
%matplotlib inline

## Import Beta Loop11 Scripts

In [2]:
import loop11_functions as beta
%run loop11_functions.py

## Import data

In [3]:
clean_df = pd.read_csv('audience_clean.csv')
clean_df.head()

,Unnamed: 0,UserZoom ID,Status,Start Date,End Date,"Have you visited ATO Beta before? (For example, tested a new product, read a blog post, received an email) *",How did you find out about ATO Beta?,How did you find out about ATO Beta? - 1,How did you find out about ATO Beta? - 2,How did you find out about ATO Beta? - 3,...,Which of the following best describes you? - 6,Which of the following best describes you? - 7,How do you usually lodge your tax return?,How do you usually lodge your tax return? - 1,How do you usually lodge your tax return? - 2,How do you usually lodge your tax return? - 3,How do you usually lodge your tax return? - 4,Start Timestamp,End Timestamp,Total Time
0,2,C881S14_112,Complete,2017/07/13 12:08:00,2017/07/13 12:58:52,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,online via myTax,NaN,NaN,NaN,NaN,2017-07-13 12:08:00,2017-07-13 12:58:52,0 days 00:50:52.000000000
1,3,C881S14_113,Complete,2017/07/13 12:08:55,2017/07/13 12:13:54,Not sure,NaN,NaN,NaN,NaN,...,NaN,NaN,online via myTax,NaN,NaN,NaN,NaN,2017-07-13 12:08:55,2017-07-13 12:13:54,0 days 00:04:59.000000000
2,4,C881S14_118,Complete,2017/07/13 12:10:24,2017/07/13 13:19:13,Yes,NaN,NaN,NaN,NaN,...,Other,employee,NaN,NaN,through a tax agent,NaN,NaN,2017-07-13 12:10:24,2017-07-13 13:19:13,0 days 01:08:49.000000000
3,5,C881S14_121,Complete,2017/07/13 12:11:09,2017/07/13 12:13:59,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,online via myTax,NaN,NaN,NaN,NaN,2017-07-13 12:11:09,2017-07-13 12:13:59,0 days 00:02:50.000000000
4,6,C881S14_123,Complete,2017/07/13 12:12:26,2017/07/13 12:14:56,Yes,NaN,Facebook,NaN,NaN,...,NaN,NaN,NaN,NaN,through a tax agent,NaN,NaN,2017-07-13 12:12:26,2017-07-13 12:14:56,0 days 00:02:30.000000000

In [4]:
N = len(clean_df)
N

116

In [5]:
# Delare variable to store folder file location
folder = "Graphs/standard_graphs/"

In [6]:
list(clean_df.columns.values) # For reference later when picking out data in specific column

['Unnamed: 0',
 'UserZoom ID',
 'Status',
 'Start Date',
 'End Date',
 'Have you visited ATO Beta before? (For example, tested a new product, read a blog post, received an email) *',
 'How did you find out about ATO Beta?',
 'How did you find out about ATO Beta? - 1',
 'How did you find out about ATO Beta? - 2',
 'How did you find out about ATO Beta? - 3',
 'How did you find out about ATO Beta? - 4',
 'How did you find out about ATO Beta? - 5',
 'How did you find out about ATO Beta? - 6',
 'How did you find out about ATO Beta? - 7',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates?',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates? - 1',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates? - 2',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates? - 3',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates? - 4',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates? - 5',
 'What would be the best way to let you know about new ATO Beta tests, blogs and updates? - 6',
 'Do you follow any ATO social media channels?',
 'Do you follow any ATO social media channels? - 1',
 'Do you follow any ATO social media channels? - 2',
 'Do you follow any ATO social media channels? - 1.1',
 'Are you subscribed to the ATO Beta mailing list? *',
 'How often would you like to hear from us?',
 'How often would you like to hear from us?.1',
 'If you are subscribed to the Beta mailing list, why not?',
 'If you are subscribed to the Beta mailing list, why not? - 1',
 'If you are subscribed to the Beta mailing list, why not? - 2',
 'If you are subscribed to the Beta mailing list, why not? - 1.1',
 'If you are subscribed to the Beta mailing list, why not? - 3',
 'If you are subscribed to the Beta mailing list, why not? - 4',
 'If you are subscribed to the Beta mailing list, why not? - 5',
 'If you are subscribed to the Beta mailing list, why not? - 6',
 'What type of ATO Beta content are you interested in?',
 'What type of ATO Beta content are you interested in? - 1',
 'What type of ATO Beta content are you interested in? - 2',
 'What type of ATO Beta content are you interested in? - 3',
 'What type of ATO Beta content are you interested in? - 4',
 'What type of ATO Beta content are you interested in? - 5',
 'What type of ATO Beta content are you interested in? - 6',
 'How satisfied are you with the ATO Beta website?',
 'ATO Beta website: Why did you give this rating?',
 'Have you ever started but not finished an ATO Beta test or survey? *',
 'What was your reason for not finishing the ATO Beta test or survey?',
 'What was your reason for not finishing the ATO Beta test or survey?.1',
 'How satisfied are you with our tests of new features, products and services?',
 'Features, products and services: Why did you give this rating?',
 'How satisfied are you with ATO Beta emails?',
 'Email rating: Why did you give this rating?',
 'When do you prefer to interact with ATO Beta content?',
 'When do you prefer to interact with ATO Beta content? - 1',
 'When do you prefer to interact with ATO Beta content? - 2',
 'When do you prefer to interact with ATO Beta content? - 3',
 'When do you prefer to interact with ATO Beta content? - 4',
 'When do you prefer to interact with ATO Beta content? - 5',
 'When do you prefer to interact with ATO Beta content? - 6',
 'What time of day do you prefer to interact with ATO Beta?',
 'What time of day do you prefer to interact with ATO Beta? - 1',
 'What time of day do you prefer to interact with ATO Beta? - 2',
 'What time of day do you prefer to interact with ATO Beta? - 3',
 'On what devices do you prefer to view ATO Beta content?',
 'On what devices do you prefer to view ATO Beta content? - 1',
 'On what devices do you prefer to view ATO Beta content? - 2',
 'On what devices do you prefer to view ATO Beta content? - 3',
 'What can ATO Beta do to improve our service?',
 'What type of content are you interested in?',
 'What type of content are you interested in? - 1',
 'What type of content are you interested in? - 2',
 'What type of content are you interested in? - 3',
 'What type of content are you interested in? - 4',
 'What type of content are you interested in? - 5',
 'What type of content are you interested in? - 6',
 'When do you prefer to interact with digital content that is not directly related to your work?',
 'When do you prefer to interact with digital content that is not directly related to your work? - 1',
 'When do you prefer to interact with digital content that is not directly related to your work? - 2',
 'When do you prefer to interact with digital content that is not directly related to your work? - 3',
 'When do you prefer to interact with digital content that is not directly related to your work? - 4',
 'When do you prefer to interact with digital content that is not directly related to your work? - 5',
 'What time of day do you prefer to interact with digital content that is not directly related to your work?',
 'What time of day do you prefer to interact with digital content that is not directly related to your work? - 1',
 'What time of day do you prefer to interact with digital content that is not directly related to your work? - 2',
 'What devices do you use to view digital content?',
 'What devices do you use to view digital content? -1',
 'What devices do you use to view digital content? - 2',
 'What devices do you use to view digital content? - 3',
 'Which age group do you belong to?',
 'What is your occupation? *',
 'Are you a: *',
 'Which of the following best describes you?',
 'Which of the following best describes you? - 1',
 'Which of the following best describes you? - 2',
 'Which of the following best describes you? - 3',
 'Which of the following best describes you? - 4',
 'Which of the following best describes you? - 5',
 'Which of the following best describes you? - 6',
 'Which of the following best describes you? - 7',
 'How do you usually lodge your tax return?',
 'How do you usually lodge your tax return? - 1',
 'How do you usually lodge your tax return? - 2',
 'How do you usually lodge your tax return? - 3',
 'How do you usually lodge your tax return? - 4',
 'Start Timestamp',
 'End Timestamp',
 'Total Time']

### Import occupations

In [7]:
occupations_df = pd.read_csv('ATO-Beta_Audience-Survey_QUAL_Occupation.csv', skiprows=1)
occupations_df.head()

,Accounting,Administration & Office Support,"Advertising, Arts & Media",Banking & Financial Services,Call Centre & Customer Service,CEO & General Management,Community Services & Development,Construction,Consulting & Strategy,Design & Architecture,...,"Mining, Resources & Energy",Real Estate & Property,Retail & Consumer Products,Sales,Science & Technology,Self Employment,Sport & Recreation,Trades & Services,Other,Weirdos
0,tax agent,Administration,NaN,Financial advice consultant,Call centre operator,Department Manager,Law interpretation officer,Builder,Consultant,UI/UX designer,...,electrical cathodic protection,property manager - finance manager,NaN,NaN,Statistician,Self employed,NaN,Builder,Retired. With investments.,Stud
1,Tax Agent,Office Manager,NaN,Finance Director,NaN,Office Manager,Community Engagement Officer,NaN,Senior Business Advisor and Mentor,NaN,...,CEG,NaN,NaN,NaN,NaN,Business admin/owner,NaN,I make furniture items from recycled pine pall...,Problem solver,thank you
2,tax agent,Administration Support Officer,NaN,Finance Manager,NaN,Director,NaN,NaN,Review Officer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Electrician & mechanical services.,Home Maker,NaN
3,Bookkeeper,Administration and customer service officer,NaN,property manager - finance manager,NaN,Manager,NaN,NaN,Service Delivery Officer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Retired,NaN
4,Accountant,Office Administrator,NaN,Finance Officer/Business Analyst,NaN,Project Manager,NaN,NaN,Case Officer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,retired,NaN

In [8]:
occupations_df.count()

Accounting                                35
Administration & Office Support           10
Advertising, Arts & Media                  0
Banking & Financial Services               5
Call Centre & Customer Service             1
CEO & General Management                  11
Community Services & Development           2
Construction                               1
Consulting & Strategy                      6
Design & Architecture                      1
Education & Training                       0
Engineering                                0
Farming, Animals & Conservation            0
Government & Defence                      25
Healthcare & Medical                       0
Hospitality & Tourism                      1
Human Resources & Recruitment              1
Information & Communication Technology    10
Insurance & Superannuation                 0
Legal                                      2
Manufacturing, Transport & Logistics       2
Marketing & Communications                 3
Mining, Resources & Energy                 2
Real Estate & Property                     1
Retail & Consumer Products                 0
Sales                                      0
Science & Technology                       1
Self Employment                            2
Sport & Recreation                         0
Trades & Services                          3
Other                                      6
Weirdos                                    2
dtype: int64

## Questions

In [9]:
occupation_group = []

for item in occupations_df['Accounting']:
    occupation_group.append(item)

display(occupation_group)
print(len(occupation_group))

['tax agent',
 'Tax Agent',
 'tax agent',
 'Bookkeeper',
 'Accountant',
 'Tax Agent',
 'Accountant and BAS Agent',
 'Tax Agent',
 'Accountant',
 'Accountant',
 'Book keeper.',
 'Tax agent',
 'Bookkeeper',
 'clerk',
 'Accountant',
 'TAX AGENT',
 'Tax agent',
 'Manager - Accountant',
 'Accountant/tax agent',
 'Tax accountant',
 'Accountant',
 'Public Accountant',
 'Accountant',
 'Bookkeeper',
 'accountant',
 'Bookkeeper',
 'tax agent',
 'Accountant',
 'Accountant and tax agent',
 'Chartered Accountant',
 'BAS Agent',
 'regd tax agent',
 'Accountant',
 'Accountant',
 'Bookkeeper and Registered BAS Agent']

35

In [10]:
occupation_groups = {}

for key, item in occupations_df.items():
    occupation_groups[key] = item

occupation_groups['Accounting']

0                               tax agent
1                               Tax Agent
2                               tax agent
3                              Bookkeeper
4                              Accountant
5                               Tax Agent
6                Accountant and BAS Agent
7                               Tax Agent
8                              Accountant
9                              Accountant
10                           Book keeper.
11                              Tax agent
12                             Bookkeeper
13                                  clerk
14                             Accountant
15                              TAX AGENT
16                              Tax agent
17                   Manager - Accountant
18                   Accountant/tax agent
19                         Tax accountant
20                             Accountant
21                      Public Accountant
22                             Accountant
23                             Bookkeeper
24                             accountant
25                             Bookkeeper
26                              tax agent
27                             Accountant
28               Accountant and tax agent
29                   Chartered Accountant
30                              BAS Agent
31                         regd tax agent
32                             Accountant
33                             Accountant
34    Bookkeeper and Registered BAS Agent
Name: Accounting, dtype: object

In [11]:
for item in occupation_groups:
    
    clean_df['What is your occupation? *'].replace(occupation_groups[item], value=item, inplace=True, regex=True)

clean_df['What is your occupation? *']

0                                   Government & Defence
1                                                Retired
2                                             Accounting
3                                         Administration
4                               Research/Project Officer
5                                             Accountant
6                                                 Driver
7                                             Accountant
8                       Debt Collection Officer - EC ATO
9                                             Bookkeeper
10                              Accountant and BAS Agent
11                                             Tax Agent
12                                  Government & Defence
13                                            Accountant
14                                        Office Manager
15                                          Statistician
16                                          Case Officer
17                                             tax agent
18                                             Tax Agent
19                           Financial advice consultant
20                        Administration Support Officer
21                                              Director
22                                          ATO Employee
23                                               Manager
24     APS6 team leader in Service Delivery contact c...
25                              Accountant and tax agent
26                           Retired.  With investments.
27                                                  Stud
28                                                driver
29                                        Manager at ATO
                             ...
86                                        regd tax agent
87                                     Public Accountant
88                                            Accountant
89                                            Home Maker
90                    property manager - finance manager
91                                            accountant
92                                               retired
93                                            Bookkeeper
94                                        Computer nerd.
95                   Bookkeeper and Registered BAS Agent
96                            Law interpretation officer
97                          Community Engagement Officer
98                                       Project Manager
99                                                   CEG
100                                       Public servant
101                                        Self employed
102                 ATO staff member, Debt Firmer Action
103                     Finance Officer/Business Analyst
104                                 Call centre operator
105                                        Pubic servant
106                               Human Resource Manager
107                                 Business admin/owner
108                               Retired public servant
109                                           Accountant
110                                       Public Servant
111                                     Company director
112                                             Director
113                                            tax agent
114                                       Public Servant
115                   Electrician & mechanical services.
Name: What is your occupation? *, dtype: object

In [148]:
#clean_df['What is your occupation? *'].replace(occupation_group, value='Accounting', inplace=True, regex=True)

In [149]:
#clean_df['What is your occupation? *']